:root{
    --background-color-first: #D1D1D1;
    --background-color-second: #D1D1D1;
    --visibilityP: hidden;
    --indentP: 0px;
    --visibilityCP: hidden;
    --indentCP: 0px;
    --padding-top: 10%;
}

$background-color-first: var(--background-color-first);
$background-color-second: var(--background-color-second);
$visibilityP: var(--visibilityP);
$indentP: var(--indentP);
$visibilityCP: var(--visibilityCP);
$indentCP: var(--indentCP);
$padding-top: var(--padding-top);

@mixin input($text-indent){
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(70, 77, 81);
    padding: 0;
    font-size: .95rem;
    color: #151111;
    text-indent: $text-indent;

    &:focus ~ label,
    &:valid ~ label{
        transform: translateY(-37px);
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
}

@mixin eye-icon($visibility)
{
  display: initial;
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  font-size: .99rem;
  color: black;
  cursor: pointer;
  z-index: 5;
  visibility: $visibility;
}



.password-container{
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #ffffff, #e4e6eb, #c4cfd6, #a4babe, #87a4a2);

    .container{
        position: relative;
        min-width: 750px;
        box-shadow: rgba(0, 0, 0, 0.95) 0px 2px 5px -1px;
        background-color: rgb(255, 255, 255);
        height: 75vh;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;

        .title{
            height: max-content;
            width: 100%;
            border-left: 2px solid black;
            font-size: 25px;
            padding-left: 2%;
        }

        .form-container{
            margin-top: 10%;
            width: 100%;
            height: max-content;

            .input-container{
                display: flex;
                position: relative;
                height: 37px;
                margin-bottom: 2.5rem;
    
                .input{
                  @include input(0px);
                }
  
                .input-pass{
                  @include input($indentP);
                }
  
                .input-confirmPass{
                 @include input($indentCP);
                }
  
                input[type=password]::-ms-reveal,
                input[type=password]::-ms-clear
                {
                    display: none;
                }
    
                .label{
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  font-size: .95rem;
                  color: rgb(133, 141, 151);
                  pointer-events: none;
                  transition: 0.3s;
                  
                }
  
                .error-icon{
                  display: initial;
                  position: absolute;
                  right: 3%;
                  top: 48%;
                  transform: translateY(-50%);
                  font-size: .99rem;
                  color: #E74147;
                  pointer-events: none;
  
                }
  
                .error-message{
                  background: #E74147;
                  color: white;
                  font-size: 13px;
                  padding: 6px;
                  border-radius: 5px;
                  width: fit-content;
                  margin-left: auto;
                  position: absolute;
                  right:0;
                  top: 0%;
                  z-index: 1;
                  transform: translateY(-95%);
                  border: #E74147;
                  transition-delay: 0.3s;
                  transition: background-color 1s ease-out;
    
                    &:after{
                      position: absolute;
                      content: '';
                      height: 15px;
                      width: 15px;
                      right: 11px;
                      z-index: -1;
                      transform: rotate(45deg);
                      top: 62%;
                      background-image: linear-gradient(135deg, transparent 70%, rgb(245, 24, 68) 50%);
      
                    }
                }
  
                .eye-icon-pass{
                  @include eye-icon($visibilityP);
                }
  
                .eye-icon-confrimPass{
                  @include eye-icon($visibilityCP);
                }
            } 
        }

        .pass-requirements{
            width: 100%;
            height: max-content;
            padding-bottom: 4%;
          
            ul{
              padding-top:1%;
              margin-left: 60px;
            }

            p{
              font-size: 15px;
            }

            li{
              font-size: 15px;
            }
        }

        .button{
            width: 100%;
            height: max-content;
            padding-top: 4%;

        }

        .button-submit{
            background-color: rgba(0, 0, 0, 0);
            font-size: 16px;
            padding: 6px 45px;
            cursor: pointer;
            outline: 0;
            border: 1px solid rgb(0, 0, 0);
            position: relative;
            float: right;

            &:hover{
                box-shadow: rgba(70, 70, 93, 0.95) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            }
        }
    }
}